# Gradle
.gradle/
**/build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# macOS
.DS_Store

# Android
.captures/
.externalNativeBuild/
.cxx/

# Maven Central signing key
private-key.asc